@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all.2s ease-out;
    font-family: 'Open Sans', sans-serif;
  

  }
  .link{
    color: rgb(0, 102, 51);
    text-decoration: none;
    font-weight: bold;
  }
  .link:hover{
    color: rgb(10, 145, 77);
  }
  html{
    scroll-behavior: smooth;
  }
  .main_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .main_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top:120px;
  }
  
.section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(8, 85, 46)}
    
  .current{
    font-weight: 500;
    color: rgba(33,28,25,1)!important;
  }
  
  .progress{
     font-size: 1.5rem;
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
width: 50%;
  }
 
  .progress ul{
    list-style: none;
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-flow: row;
    position: relative;
  }
  
  .menu_item{
    z-index: 1;
    margin-right: 20px;
    color: rgb(0 102 51);
  }
  
  .menu_item a{
    text-decoration: none;
    width: 100%;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(0, 102, 51);
    font-size:1.1rem;
  }
  
  .progress ul li a:hover{
    color: rgb(10, 145, 77);
  }

.header_text-centered{
margin-top: 80px;
width: 100%;
text-align: center;
}
.header_text-green{
  color: rgb(0, 102, 51);
}
.margin_bottom{
  margin-bottom: 20px;
}
.margin_bottom-lg{
  margin-bottom: 80px;
}
.margin_top{
  padding-top: 90px;
}

  .container_nav{

position: fixed;
top:0;
left:0;
justify-content: space-around;
background-color: white;
    padding:30px 30px 20px 20px; 
    z-index: 100;
  }
  .logo{
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
  }

  .logo_niki{
  height:50px;
  width: 73px;
    background-image: url(../img/niki_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 50px;
    margin-right: 20px;
    border-left: solid rgb(10, 145, 77)
  }
  .logo_niki-footer{
    height:73px;
    width: 73px;
      background-image: url(../img/niki_logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 20px;
      padding-left: 50px;

    }
  .logo_greenf{
    height: 50px;
    width: 20vw;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;

  }
.logo_niki_description{
  width: 20vw;
  height: 50px;
  display: flex;
  color: rgb(0, 102, 51);
  align-items: center;
  font-size: 1rem;

}

  .products_container{
    height: 100vh;
 align-items: flex-end;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #211C19;
    margin: 0;
    padding: 0;
  }
  
  .product{
    height: 50vh;
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    cursor: pointer;

  }
  .product_description{
    padding:20px;

    width: 90%;
  }

  .hydro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../img/hydro.jpg)
  }
  .sciana{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../img/mpc7.jpg)

  }
  .sciana_double{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../img/wall_d.jpg)
  }
  .sciana_single{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(../img/2.jpg);
  }
.sznur{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)), url(../img/sznur.jpg)
}
.kolumna{
background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)), url(../img/kolumna.JPG);
}

.stalagmit{
background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)), url(../img/stalagmit.jpg);
}

.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.img_container{
  background-size: cover;
  background-repeat: no-repeat;
background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.porduct_header{
  color: white;
  width: 100%;
  text-align: left;
  font-size: 1.7rem;
}
.product_header_sub{
  color: white;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}
.ico{
  width: 100%;
  display: flex;
justify-content: center;

}
.button_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button{
  min-width: 150px;
  background-color: rgb(10, 145, 77);
  color: beige;
  text-transform: uppercase;
  padding:20px 40px 20px 40px;
  font-size: 1.2rem;
  border:none;
  margin-top: 30px;
}

.button:hover{
  color: white;
  background-color: rgb(12, 187, 99);
}


/* footer */
.footer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 28vh;
}
.footer_contact_item{
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.footer_contact_prv{

  justify-content: right;

}
.footer_item{
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 0;

}
.wyslijpost a,
.zadzwon a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 102, 51);
}
.footer_item-privacy{
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-items: right;
}
.footer_item-privacy a{
  text-decoration: none;
  color:rgb(0, 102, 51);
  margin-bottom: 20px;
}
.socialmedia{
  display: flex;
  flex-wrap: wrap;
}

.socialmedia_item{
  width: 30px;
  height: 30px;
  display: flex;
  margin-right:20px
}

.toggle_button {
  display: none; /* Ukryj przycisk na większych ekranach */
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
.progress-mobile{
  display: none
}
.menu-toggle{
  display: none;
}



.hydro{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)), url(../img/hydro.jpg)
}
.sciana{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)), url(../img/mpc7.jpg)

}
.sciana_double{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)), url(../img/wall_d.jpg)
}
.sciana_single{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)), url(../img/2.jpg);
}
.sznur{
background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)), url(../img/sznur.jpg)
}
.kolumna{
background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)), url(../img/kolumna.JPG);
}

.stalagmit{
background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)), url(../img/stalagmit.jpg);
}
    /* ====================button ==================== */

    
.button_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button{
    min-width: 150px;
    background-color: rgb(10, 145, 77);
    color: beige;
    text-transform: uppercase;
    padding:20px 40px 20px 40px;
    font-size: 1.2rem;
    border:none;
    margin-top: 30px;
  }
  
  .button:hover{
    color: white;
    background-color: rgb(12, 187, 99);}

  /* =============================================== */

  
.description_product{
    width: 35%;
    display: flex;
    padding:0px 50px 30px 50px;
    flex-wrap: wrap;
    
    }
    .description_product p{
      text-align: justify;
    }
  
    .wall{
      background-image: url(../img/wall2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:20px; 
    }
    .sznur2{
      background-image: url(../img/sznurek.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:20px; 
    min-height: 90vh;
    }
    .stalagmit2{
      background-image: url(../img/stalagmit2.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:20px; 
    min-height: 90vh;
    }
    .module1{
      background-image: url(../img/1.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:20px; 
    min-height: 90vh;
    }
      .module2{
      background-image: url(../img/wall4.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:20px; 
    min-height: 90vh;
    }
    .kolumna2{
      background-image: url(../img/column.jpg);
      background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding:20px; 
    min-height: 90vh;
    }
.hydro2{
  background-image: url(../img/hydro1.jpg);
  background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
padding:20px; 
min-height: 90vh;
}
    .image_product {
      width: 65%;
    }
  
  .margin_products{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  
  .czterdziesci{
  
    width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  
  }
  .dwadziescia {
  
  
    width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  
  .trzy_txt{
  padding: 0 20px 0 20px
  }
  
  .nikisz{
    background-image: url(../img/nikisz.jpg);
    background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding:20px; 
  }
  
  
  .hydro_one{
   
    background-image: url(../img/hydro1.jpg);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding:20px;
  min-height:80vh;
  margin-bottom: 20px;
  
  }
  
  
  .container_trzy{
    width: 100%;
    min-height: 90vh;
    display: flex;
  flex-wrap: wrap;
   }
   .container_serv{
    width: 100%;
    min-height: 7vh;
    display: flex;
    background-color: rgb(0, 102, 51);
    color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 30px 0px 30px 0px;
     }
     .container_header{
      width: 100%;
      min-height: 3vh;
      display: flex;
      background-color: white;
      color: rgb(0, 102, 51);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      padding-top: 30px;
      font-size: 1.5rem;
       }
  
       .porduct_header-product{
        color: white;
        width: 100%;
        text-align: left;
        font-size: 2.3rem;
        margin-left: 20px;
      }
      .product_header_sub-product{
        color: white;
        width: 100%;
        text-align: left;
        font-size: 1.8rem;
        margin-left: 20px;
      }
  
.wall-mobile{
  display: none;
}

/* ===================================media ============================================================== */
@media screen and (max-width: 768px) {

  .mobile{
    display: flex;
  }
  .no_mobile{
    display: none
  }

  .container{
    width: 100%;
    margin:0;
    padding:0
  }
  .container_nav{
    padding-top:5px;
    padding-left:0;
    width: 100vw;
  }
  section{
    width: 100vw;
  }
  .description_text-one{
    width: 90%;
    margin:0;
    font-size:1.5rem;
  }


  .logo_greenf{
    height: 30px;
    width: 100vw;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    margin:10px 5px 10px 30px;

  }
.logo_niki_description{
  width: 50%;
  font-size: 0.8rem;

}

  .logo{
    width: 100%;
    margin-top:20px;
    flex-wrap: wrap;
  } 

  
  .logo_niki{
    height:30px;
    width: 50px;
      background-image: url(../img/niki_logo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      padding-right: 10px;
      margin-right: 20px;
      border-left: none
    }

.progress{
  display: none
}

.progress-mobile {
	background:#f0f0f0;
	width:100%;
  display: block;
  overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-out;
}
.progress-mobile ul {
	font-family: 'Merriweather', serif;
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
.progress-mobile ul li {
	color:#333;
	font-size:12px;
	letter-spacing:2px;
	padding:15px 0;
	text-transform:uppercase;
}






.menu-toggle{
  display: flex;
  justify-content: center;
    background:none;
    color: #333;
    width:100%;
    text-align:center;
    padding:5px 0;
    font-size:25px;background-color: white;
  }
  
  .menu-toggle a {
    text-decoration:none;
    color: rgb(0, 102, 51);
  }

.menu_item{
  width: 100%;
}
.attitude{
  width: 100%;
  margin:5px 10px;
  min-height: 35vh;
}
.attitude:last-of-type{
  margin-bottom: 30px;
}
.product{
  width: 100%;
}
.products_container{
  height: fit-content;
}
.margin_top{
  padding-top: 30px;
}

.footer_contact_item{
  width: 100%;
  padding:20px;
}
.socialmedia{
  width: 100%;
  justify-content: center;
}
.footer_item-privacy
{width: 100%;
justify-content: center;
font-size: 0.8rem;}
.description_product{
width: 100%;
margin-top: 50px;
}
.image_product{
width: 98vw;
height: 50vh;
background-size: contain;
}
.wall-mobile{
  display:flex;
  width: 100%;
  min-height: 70vh;
  background-image: url(../img/pwall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wall{
  height: 50vh;
  background-size: cover;
}
.container_serv{
  padding: 20px
}


.sznur2{

min-height: 30vh;
}
.stalagmit2{

min-height: 30vh;
}
.module1{

min-height: 30vh;
}
  .module2{

min-height: 30vh;
}
.kolumna2{
 
min-height: 30vh;
}
.hydro2{
 
min-height: 30vh;
}
}